//add delete button
%h3.c Bob Sanders | Application Process
%button.sm.right end process
.area
%table.fullWidth.ma
	%tr
		%td 8/10 steps complete
		%td
			%input{placeholder: "notes"}
		%td other data
%h5.c next available steps
%table.ma
	%tr
		%td next step
		%td 
			%button.sm delegate
	%tr
		%td other next step
		%td
			%button.sm delegate
%h4.c Comments
.area