.row
	.small-3.columns
		%button.ma start task
		%h5.c Documents
		%ul
			%li doc 1
			%li doc 2
			%li doc 3
	.small-6.columns
		%h3.c Collect Payment
		%h4.c Notes
		.area
		%h4.c Comments
		.area
	.small-3.columns
		%button.ma finish task
		%h5.c Team
		.area