Introducing Pitri

Not the worlds best process software.

Just the one you want to use.

BMMS (bare minimum mammoth shit)

%p Meet Marlow the Mammoth tamer.

%p Pitri is like a hurry-up offense for your organization. You're the Quarterback. You take a moment to read the competition. You quickly Identify the best way to organize your players to take advantage of the matchups on the field. The ball is 20 yards downfield before you're opponenet can say "I'm too fat for this."
.benefits
  %h2 Benefits of building a process framework
  %ul
    %li Align the workflow of your company with your strategic goals
    %li Managers have less logistical maintenance concerns and can focus on leadership and improvement
    %li Find the right balance of specialization and simplicity
    %li Find where things go wrong. Identify exactly where paychecks got lost, or where an order slipped through the cracks.
    %li Transparency leads to responsibility: You can see who forgot to tighten the lid on the OJ

If you're a Small Business who would like to take the next step and create a process network to gain a boost toward your strategic goals, We are the company for you.

If your IT department is like a ________ insert something funny, look elsewhere

%table.foragainst
  %thead
    %td For
    %td Against
  %tr
    %td Simple, clean software. BMBS
    %td Confusing, Bloated Spaghetti style software
  %tr
    %td Lightweight, Nimble, Processes that can turn on a dime.
    %td Outdated, Overweight Processes that waste time, money and create a lethargic apathetic culture
  %tr
    %td Small, agile teams of engaged superhuman problem solvers
    %td Giant paperwork assembly lines run by semi-human sheep-bots.
  %tr
    %td Conventions that save set-up time Configuration
    %td Lengthy, mind-numbing configuration 
  %tr
    %td Simplicity and Brevity
    %td Damned Set-up wizards. Really. Wizards suck.

