.home-outer
  .row
    .small-9.large-9.columns.parallax
      %h3.c Welcome to Pitri.net
      %h5.c A simple process tool that simply doesn’t make you want to pull out your hair (if you have hair)
      .bg__mammoth.med
      .landing-menu{"data-magellan-expedition" => "fixed"}
        %dl.sub-nav
          %dd{"data-magellan-arrival" => "letter"}
            %a{:href => "#letter"} Letter
          %dd{"data-magellan-arrival" => "opinions"}
            %a{:href => "#opinions"} Our Opinions
          %dd{"data-magellan-arrival" => "benefits"}
            %a{:href => "#benefits"} Benefits
          %dd{"data-magellan-arrival" => "team"}
            %a{:href => "#team"} Team
      #letter{"data-magellan-destination" => "letter"}
        %p My face and arms were caked in Georgia clay. Little scratches and nicks covered my arms and legs. My fingertips were raw from clawing the earth, and I would have traded my soul for a cold beer. 
        %p But It wasn’t the mud, nor the discomfort, nor the triple digit heat that had my head pressed against the steering wheel of my truck. I was having one of those “please if there’s anybody up there just make time go backwards for a while” moments.
        .bg__mammoth-devil.sm
        %p You see, I’d just realized I had three different appointments with clients--- all at 6 O’clock-- 5 minutes before-- And I lost their phone numbers. Again.
        %p Actually there was nothing wrong with my calendar. It worked just fine. The problem was that I was always scrambling. Scrambling to make appointments, reply to emails, coordinate workers, and give quotes. 
        %p How could I keep track of business expenses for Uncle Sam when I was spending 9 hours per day with a crew neck deep in weeds?
        .bg__mammoth.sm
        %p Administrivia.
        %p Not just just paperwork-- Handling new orders, Approving applications-- whatever it is that keeps your company ticking. These processes are the veins and arteries of your organization; If they break, the heart will keep on pumping, but it’s going to get a little messy.
        %p And more often than not, when things go wrong your employees just push the problem up the ladder.
        %p Guess who’s plate is up the ladder? That’s right. Yours.
        .bg__mammoth.sm
        %p That means more time you have to spend dealing with small-time shit like resolving inconsistencies in the computer system and consoling disgruntled customers.
        %p Not only is it boring: it divides your attention and distracts you from your real job --making your organization stronger, leaner, and prepared for change. 
        .bg__mammoth.sm
        %p We’re not going to lie. We hate Administrivia.
        %p Why do you think we’re working our tails off here? Because coding tops our fun-ways-to-spend-saturday list?
        %p There are only four good reasons to work your tail off:
        %ul
          %li Buckets of Money,
          %li Greatness,
          %li And saving yourself from even more worse work in the future. 
        .bg__mammoth.sm
        %p Now that we’re on the same page, lets get the reason that you’re here.
        %p You want more control over your business.
        %p You want a better way to align the workflow of your company with your strategic goals.
        %p You want consistent execution without being bothered about every snake in the grass.
        %p The LAST thing you want is to have to train your employees to use another app that turns out to be a waste of time. AGAIN.
        %p Allow me to Introduce Pitri.
        %ul
          %li You set up the logic of the processes in a clean, intuitive, minimal interface. 
          %li There are no fancy bells and whistles to confuse you. 
          %li There is no confusing notation. Just boxes, arrows, and a few or and ands.
          %li Start the process with a click and it communicates exactly what needs to be done to your work-force, and you can check the status of everything going on.
          %li You can change it at any time. Experiment. See what works best for you. 
        .bg__mammoth.sm
        %p As a small company, you have a natural advantage over bigger, heavier companies. You can change direction on a dime. It might take you 2 weeks to implement a new strategy while your overweight competitor takes a year to catch up.
        %p If you’re always scrambling like I was when I ran my first business, you never get the opportunity to even think about strategy.
        %p We want to give small companies like yours a little taste of the benefits that ERP systems give the corporate giants.
        Just a spoonful of sugar. Not a sunday and a half.
        .bg__mammoth.sm
        %p We’re very excited to be making this a reality, and we are asking for your help. If you think that this could help your company, send us an email. We want you to be a part of designing and building Pitri. Only you can stop us from building something that isn’t useful.
        %p Why is that Giant Wooly Mammoth in the background?
        You’ll just have to find out later. Sign up here to find out why and get more updates on Pitri.net.
        .bg__mammoth.sm
        %p Also If you really are thinking about signing up, but you’re just feeling lazy today, I WILL FIND OUT AND I WILL HUNT YOU DOWN.
        %p Best of luck in your Ventures,
        %p Jack Scully
        %p Co-founder Pitri.net
      #opinions{"data-magellan-destination" => "opinions"}
        %table.foragainst
          %thead
            %td For
            %td Against
          %tr
            %td Simple, clean software. BMBS
            %td Confusing, Bloated Spaghetti style software
          %tr
            %td Lightweight, Nimble, Processes that can turn on a dime.
            %td Outdated, Overweight Processes that waste time, money and create a lethargic apathetic culture
          %tr
            %td Small, agile teams of engaged superhuman problem solvers
            %td Giant paperwork assembly lines run by semi-human sheep-bots.
          %tr
            %td Conventions that save set-up time Configuration
            %td Lengthy, mind-numbing configuration 
          %tr
            %td Simplicity and Brevity
            %td Damned Set-up wizards. Really. Wizards suck
      #benefits{"data-magellan-destination" => "benefits"}
      #team{"data-magellan-destination" => "team"}
    .small-3.large-3.columns.email
      .right-box email sign up prompt stays fixed here.