.home-outer
  .row
    .small-9.large-9.columns.parallax
      %h3.c Welcome to Pitri.net
      %h5.c A simple process tool that simply doesn’t make you want to pull out your hair (if you have hair)
      .mickey
        %p Pitri helps small businesses manage repetitive processes.
        %p If you are trying to keep track of them in your head, or using a combination of spreadsheets and scattered notes, the tools you use to handle business processes may be holding you back.
        %p Pitri is a tool to easily formalize your business processes and ensure that everyone executes them consistently.
        %ul
          %li keeps you informed on every instance of each process in play
          %li coordinate the flow of work so everything runs smoothly
          %li trace back errors and minimize costly mistakes
          %li Help new employees get up to speed.
          %li Very easy and inexpensive to change processes, which helps you adapt to change.
      .landing-menu{"data-magellan-expedition" => "fixed"}
        %dl.sub-nav
          %dd{"data-magellan-arrival" => "letter"}
            %a{:href => "#letter"} Letter
          %dd{"data-magellan-arrival" => "opinions"}
            %a{:href => "#opinions"} Is it for me?
          %dd{"data-magellan-arrival" => "works"}
            %a{:href => "#works"} How it Works
          %dd{"data-magellan-arrival" => "team"}
            %a{:href => "#team"} Team
      #letter{"data-magellan-destination" => "letter"}
        .bg__mammoth.med
        %p My face and arms were caked in Georgia clay. Little scratches and nicks covered my arms and legs. My fingertips were raw from clawing the earth, and I would have traded my soul for a cold beer. 
        %p But It wasn’t the mud, nor the discomfort, nor the triple digit heat that had my head pressed against the steering wheel of my truck. I was having one of those “please if there’s anybody up there just make time go backwards for a while” moments.
        %p You see, I’d just realized I had three different appointments with clients--- all at 6 O’clock-- 5 minutes before-- And I lost their phone numbers. Again.
        %p Actually there was nothing wrong with my calendar. It worked just fine. The problem was that I was always scrambling. Scrambling to make appointments, reply to emails, coordinate workers, and give quotes. 
        %p How could I keep track of business expenses for Uncle Sam when I was spending 9 hours per day with a crew neck deep in weeds?
        .bg__mammoth.med
        %p Administrivia.
        %p Not just just paperwork-- Handling new orders, Approving applications-- whatever it is that keeps your company ticking. These processes are the veins and arteries of your organization; If they break, the heart will keep on pumping, but it’s going to get a little messy.
        %p And more often than not, when things go wrong your employees just push the problem up the ladder.
        %p Guess who’s plate is up the ladder? That’s right. Yours.
        %p That means more time you have to spend dealing with small-time shit like resolving inconsistencies in the computer system and consoling disgruntled customers.
        %p Not only is it boring: it divides your attention and distracts you from your real job --making your organization stronger, leaner, and prepared for change.
        %p We’re not going to lie. We hate Administrivia.
        %p Why do you think we’re working our tails off here? Because coding tops our fun-ways-to-spend-saturday list?
        %p There are only four good reasons to work your tail off:
        %ul
          %li Buckets of Money,
          %li Greatness,
          %li And saving yourself from even more worse work in the future. 
        .bg__mammoth.med
        %p Now that we’re on the same page, lets get the reason that you’re here.
        %p You want more control over your business.
        %p You want a better way to align the workflow of your company with your strategic goals.
        %p You want consistent execution without being bothered about every snake in the grass.
        %p The LAST thing you want is to have to train your employees to use another app that turns out to be a waste of time. AGAIN.
        %p Allow me to Introduce Pitri.
        %ul
          %li You set up the logic of the processes in a clean, intuitive, minimal interface. 
          %li There are no fancy bells and whistles to confuse you. 
          %li There is no confusing notation. Just boxes, arrows, and a few or and ands.
          %li Start the process with a click and it communicates exactly what needs to be done to your work-force, and you can check the status of everything going on.
          %li You can change it at any time. Experiment. See what works best for you. 
        %p As a small company, you have a natural advantage over bigger, heavier companies. You can change direction on a dime. It might take you 2 weeks to implement a new strategy while your overweight competitor takes a year to catch up.
        %p If you’re always scrambling like I was when I ran my first business, you never get the opportunity to even think about strategy.
        %p We want to give small companies like yours a little taste of the benefits that ERP systems give the corporate giants.
        Just a spoonful of sugar. Not a sunday and a half.
        %p We’re very excited to be making this a reality, and we are asking for your help. If you think that this could help your company, send us an email. We want you to be a part of designing and building Pitri. Only you can stop us from building something that isn’t useful.
        %p Why is that Giant Wooly Mammoth in the background?
        You’ll just have to find out later. Sign up here to find out why and get more updates on Pitri.net.
        .bg__mammoth.med
        %p Also If you really are thinking about signing up, but you’re just feeling lazy today, I WILL FIND OUT AND I WILL HUNT YOU DOWN.
        %p Best of luck in your Ventures,
        %p Jack Scully
        %p Co-founder Pitri.net
      #opinions{"data-magellan-destination" => "opinions"}
        %table.foragainst
          %thead
            %td For
            %td Against
          %tr
            %td Simple, clean software. BMBS
            %td Confusing, Bloated Spaghetti style software
          %tr
            %td Lightweight, Nimble, Processes that can turn on a dime.
            %td Outdated, Overweight Processes that waste time, money and create a lethargic apathetic culture
          %tr
            %td Small, agile teams of engaged superhuman problem solvers
            %td Giant paperwork assembly lines run by semi-human sheep-bots.
          %tr
            %td Conventions that save set-up time Configuration
            %td Lengthy, mind-numbing configuration 
          %tr
            %td Simplicity and Brevity
            %td Damned Set-up wizards. Really. Wizards suck
      #benefits{"data-magellan-destination" => "works"}
        %h3.C How it Works
        .intro.flex-video
          %iframe{:allowfullscreen => "true", :frameborder => "0", :height => "749", :mozallowfullscreen => "true", :src => "https://docs.google.com/presentation/d/1_w06WIPrvPRg-ZIUyHFQlVa9QyY2k_kWqjbWa_j_p-I/embed?start=false&loop=false&delayms=5000", :webkitallowfullscreen => "true", :width => "960"}
      #team{"data-magellan-destination" => "team"}
    .small-3.large-3.columns.email
      .main
        %form#nl-form.nl-form{:action => "//pitri.us9.list-manage.com/subscribe/post?u=32d63f8430c97ef95b4cc81b3&id=0dd7afbd86", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
          They call me
          %input#mce-FNAME{:name => "FNAME", :type => "text", :value => "", :placeholder => "Jim"}
          %input#mce-LNAME{:name => "LNAME", :type => "text", :value => "", :placeholder =>"Bob"}
          and my email is
          %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", :placeholder => "Email@here.com"}
          %span . I'm a
          %input#mce-JOB{:name => "JOB", :type => "text", :value => "", :placeholder => "thumb twiddler"}
          at
          %input#mce-COMPANY{:name => "COMPANY", :type => "text", :value => "", :placeholder => "my organization"}/
          which 
          %input#mce-INDUSTRY{:name => "INDUSTRY", :type => "text", :value => "", :placeholder => "makes TPS reports"}/
          and has 
          %select#mce-PEOPLE{:name => "PEOPLE"}
            %option{:value => "some", :selected => "selected"} some people
            %option{:value => "a few"} a few
            %option{:value => "10 - 34"} 10 - 34
            %option{:value => "35 - 75"} 35 - 75
            %option{:value => "75 - 200"} 75 - 200          
            %option{:value => "an army of"} an army of
          people. I want Pitri
          %select#mce-INTEREST{:name => "INTEREST"}
            %option{:value => "Not at all. It's a terrible Idea"} Not at all. It's a terrible Idea
            %option{:value => "Just enough to sign up", :selected => "selected"} Just enough to sign up
            %option{:value => "a lot"} a lot
            %option{:value => "more than I have ever wanted any other business software in my life"} more than I have ever wanted any other business software in my life
          %span and I would be happy to pay about
          %select#mce-VALUE{:name => "VALUE"}
            %option{:value => "Nothing and nothing more", :selected => "selected"} Nothing and nothing more
            %option{:value => "$10/month"} $10/month
            %option{:value => "$50/month"} $50/month
            %option{:value => "$100/month"} $100/month
            %option{:value => "$500/month"} $500/month
          %span for it.
          #mce-responses.clear
            #mce-error-response.response{:style => "display:none"}
            #mce-success-response.response{:style => "display:none"}
          / real people should not fill this in and expect good things - do not remove this or risk form bot signups
          %div{:style => "position: absolute; left: -5000px;"}
            %input{:name => "b_32d63f8430c97ef95b4cc81b3_0dd7afbd86", :tabindex => "-1", :type => "text", :value => ""}
          .nl-submit-wrap
            %button.nl-submit{:name => "subscribe", :type => "submit", :value => "Subscribe"} Subscribe
          .nl-overlay
          
/ /container
:javascript
  ;( function( window ) {
  
    'use strict';

    var document = window.document;

    if (!String.prototype.trim) {
      String.prototype.trim=function(){return this.replace(/^\s+|\s+$/g, '');};
    }

    function NLForm( el ) { 
      this.el = el;
      this.overlay = this.el.querySelector( '.nl-overlay' );
      this.fields = [];
      this.fldOpen = -1;
      this._init();
    }

    NLForm.prototype = {
      _init : function() {
        var self = this;
        Array.prototype.slice.call( this.el.querySelectorAll( 'select' ) ).forEach( function( el, i ) {
          self.fldOpen++;
          self.fields.push( new NLField( self, el, 'dropdown', self.fldOpen ) );
        } );
        Array.prototype.slice.call( this.el.querySelectorAll( 'input' ) ).forEach( function( el, i ) {
          self.fldOpen++;
          self.fields.push( new NLField( self, el, 'input', self.fldOpen ) );
        } );
        this.overlay.addEventListener( 'click', function(ev) { self._closeFlds(); } );
        this.overlay.addEventListener( 'touchstart', function(ev) { self._closeFlds(); } );
      },
      _closeFlds : function() {
        if( this.fldOpen !== -1 ) {
          this.fields[ this.fldOpen ].close();
        }
      }
    }

    function NLField( form, el, type, idx ) {
      this.form = form;
      this.elOriginal = el;
      this.pos = idx;
      this.type = type;
      this._create();
      this._initEvents();
    }

    NLField.prototype = {
      _create : function() {
        if( this.type === 'dropdown' ) {
          this._createDropDown(); 
        }
        else if( this.type === 'input' ) {
          this._createInput();  
        }
      },
      _createDropDown : function() {
        var self = this;
        this.fld = document.createElement( 'div' );
        this.fld.className = 'nl-field nl-dd';
        this.toggle = document.createElement( 'a' );
        this.toggle.innerHTML = this.elOriginal.options[ this.elOriginal.selectedIndex ].innerHTML;
        this.toggle.className = 'nl-field-toggle';
        this.optionsList = document.createElement( 'ul' );
        var ihtml = '';
        Array.prototype.slice.call( this.elOriginal.querySelectorAll( 'option' ) ).forEach( function( el, i ) {
          ihtml += self.elOriginal.selectedIndex === i ? '<li class="nl-dd-checked">' + el.innerHTML + '</li>' : '<li>' + el.innerHTML + '</li>';
          // selected index value
          if( self.elOriginal.selectedIndex === i ) {
            self.selectedIdx = i;
          }
        } );
        this.optionsList.innerHTML = ihtml;
        this.fld.appendChild( this.toggle );
        this.fld.appendChild( this.optionsList );
        this.elOriginal.parentNode.insertBefore( this.fld, this.elOriginal );
        this.elOriginal.style.display = 'none';
      },
      _createInput : function() {
        var self = this;
        this.fld = document.createElement( 'div' );
        this.fld.className = 'nl-field nl-ti-text';
        this.toggle = document.createElement( 'a' );
        this.toggle.innerHTML = this.elOriginal.getAttribute( 'placeholder' );
        this.toggle.className = 'nl-field-toggle';
        this.optionsList = document.createElement( 'ul' );
        this.getinput = document.createElement( 'input' );
        this.getinput.setAttribute( 'type', 'text' );
        this.getinput.setAttribute( 'placeholder', this.elOriginal.getAttribute( 'placeholder' ) );
        this.getinputWrapper = document.createElement( 'li' );
        this.getinputWrapper.className = 'nl-ti-input';
        this.inputsubmit = document.createElement( 'button' );
        this.inputsubmit.className = 'nl-field-go';
        this.inputsubmit.innerHTML = 'Go';
        this.getinputWrapper.appendChild( this.getinput );
        this.getinputWrapper.appendChild( this.inputsubmit );
        this.example = document.createElement( 'li' );
        this.example.className = 'nl-ti-example';
        this.example.innerHTML = this.elOriginal.getAttribute( 'data-subline' );
        this.optionsList.appendChild( this.getinputWrapper );
        this.optionsList.appendChild( this.example );
        this.fld.appendChild( this.toggle );
        this.fld.appendChild( this.optionsList );
        this.elOriginal.parentNode.insertBefore( this.fld, this.elOriginal );
        this.elOriginal.style.display = 'none';
      },
      _initEvents : function() {
        var self = this;
        this.toggle.addEventListener( 'click', function( ev ) { ev.preventDefault(); ev.stopPropagation(); self._open(); } );
        this.toggle.addEventListener( 'touchstart', function( ev ) { ev.preventDefault(); ev.stopPropagation(); self._open(); } );

        if( this.type === 'dropdown' ) {
          var opts = Array.prototype.slice.call( this.optionsList.querySelectorAll( 'li' ) );
          opts.forEach( function( el, i ) {
            el.addEventListener( 'click', function( ev ) { ev.preventDefault(); self.close( el, opts.indexOf( el ) ); } );
            el.addEventListener( 'touchstart', function( ev ) { ev.preventDefault(); self.close( el, opts.indexOf( el ) ); } );
          } );
        }
        else if( this.type === 'input' ) {
          this.getinput.addEventListener( 'keydown', function( ev ) {
            if ( ev.keyCode == 13 ) {
              self.close();
            }
          } );
          this.inputsubmit.addEventListener( 'click', function( ev ) { ev.preventDefault(); self.close(); } );
          this.inputsubmit.addEventListener( 'touchstart', function( ev ) { ev.preventDefault(); self.close(); } );
        }

      },
      _open : function() {
        if( this.open ) {
          return false;
        }
        this.open = true;
        this.form.fldOpen = this.pos;
        var self = this;
        this.fld.className += ' nl-field-open';
      },
      close : function( opt, idx ) {
        if( !this.open ) {
          return false;
        }
        this.open = false;
        this.form.fldOpen = -1;
        this.fld.className = this.fld.className.replace(/\b nl-field-open\b/,'');

        if( this.type === 'dropdown' ) {
          if( opt ) {
            // remove class nl-dd-checked from previous option
            var selectedopt = this.optionsList.children[ this.selectedIdx ];
            selectedopt.className = '';
            opt.className = 'nl-dd-checked';
            this.toggle.innerHTML = opt.innerHTML;
            // update selected index value
            this.selectedIdx = idx;
            // update original select element´s value
            this.elOriginal.value = this.elOriginal.children[ this.selectedIdx ].value;
          }
        }
        else if( this.type === 'input' ) {
          this.getinput.blur();
          this.toggle.innerHTML = this.getinput.value.trim() !== '' ? this.getinput.value : this.getinput.getAttribute( 'placeholder' );
          this.elOriginal.value = this.getinput.value;
        }
      }
    }

    // add to global namespace
    window.NLForm = NLForm;

  } )( window );
  var nlform = new NLForm( document.getElementById( 'nl-form' ) );