.devider-top
.row-fluid.smart-landing-wrap
  .span6
    .wrap-left
      %h1
        %span.rw-top Are you looking for awesome designs
        %span.rw-mid Smart
        %span.rw-bottom Anytime?
  .span6
    .wrap-right
      %h1
        %span.rw-top Display an interesting intro
        %span.rw-mid Landing
        %span.rw-bottom Yeah, it would!
.row-fluid.wrap-full.appear
  .span8.full-left
    %h2
      %span A great way to make awesome design!
      %a.btn.btn-large.btn-primary{href: "index.html"} Sign up now! →
  .span4.full-right
.row-fluid.thumb-container.appear
  .span8.offset2
    %ul.thumbnails
      %li.span3
        .smart-thumb
          %a{href: "#popular"}
            %h2 Popular
            %p Lorem ipsum dolor sit amet.
      %li.span3
        .smart-thumb
          %a{href: "#feature"}
            %h2 Feature
            %p Lorem ipsum dolor sit amet.
      %li.span3
        .smart-thumb
          %a{href: "#service"}
            %h2 Service
            %p Lorem ipsum dolor sit amet.
      %li.span3
        .smart-thumb
          %a{href: "#portofolio"}
            %h2 Portofolio
            %p Lorem ipsum dolor sit amet.
.devider-bottom