%body
  %ul.example-orbit{"data-orbit" => ""}
    %li
      %img{alt: "slide 1", src: "../assets/img/examples/satelite-orbit.jpg"}/
      .orbit-caption Caption One.
    %li.active
      %img{alt: "slide 2", src: "../assets/img/examples/andromeda-orbit.jpg"}/
      .orbit-caption Caption Two.
    %li
      %img{alt: "slide 3", src: "../assets/img/examples/launch-orbit.jpg"}/
      .orbit-caption Caption Three.