/grid: menu left --title and subtitble and author info-- menu right
/main creator space:
///requirements
///mini map

.row{:style => "height:20px; text-align:center"} Spacer
.row{:style => "align: center"}
  .small-2.columns.left.grey{:style => "text-align: left"}
    left menu
  .small-8.columns{:style => "text-align: center"}
    title
    subtitle
    author of project (rating)
  .small-2.columns.right.grey{:style => "text-align: right"}
    right menu
%create{:style => "align: center"}
  