<<<<<<< HEAD
/grid: menu left --title and subtitble and author info-- menu right
/main creator space:
///requirements
///mini map
.row.center Spacer
.row.center
  .small-2.columns.left.grey{:style => "text-align: left"}
    left menu
  .small-8.columns.center
    title
    subtitle
    author of project (rating)
  .small-2.columns.right.grey{:style => "text-align: right"}
    right menu
/dagre-d3 script
%script{src: "http://d3js.org/d3.v3.min.js"}
%script{src: "http://cpettitt.github.io/project/dagre-d3/latest/dagre-d3.min.js"}
%script{src: "http://cpettitt.github.io/project/graphlib-dot/latest/graphlib-dot.min.js"}
%showdata
  %form
    %label{for: "inputGraph"} Input Graph Definition (graphviz standards)
    %textarea#inputGraph{onkeyup: "tryDraw();", rows: "4", style: "display: block"}
      digraph {
    A[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Start
</div>"];
B[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Mount Propellers
</div>"];
C[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Frame
</div>"];
D[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Program Controller
</div>"];
E[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Mount Motors
</div>"];
F[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Mount Flight Controller
</div>"];
G[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Mount Battery
</div>"];
H[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Mount Speed Regulators
</div>"];
I[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Sync Remote Control
</div>"];
J[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Wire
</div>"];
K[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Wire
</div>"];
L[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Wire
</div>"];
M[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Wire
</div>"];
N[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Test
</div>"];
O[label="<div style='padding: 7px; background: linear-gradient(steelblue, blue);font-size:20px'>
<img src = http://simpleicon.com/wp-content/uploads/wrench.png height = 20 align = center>
Finished Quadcopter
</div>"];
A-> B;
A -> C;
A -> D;
C -> E;
C -> F;
C-> G;
C-> H;
D-> I;
B->J;
E -> J;
F -> K;
E-> K;
G-> L;
F-> L;
F-> M;
H->M;
J ->N;
K->N;
L->N;
M->N;
I->N;
N->O;
   }
%create.center
  %svg{height: "680", width: "650"}
    %g{transform: "translate(20,20)"}
=======
/ /grid: menu left --title and subtitble and author info-- menu right
/ /main creator space:
/ ///requirements
/ ///mini map
/ .row.center Spacer
/ .row.center
/   .small-2.columns.left.grey{:style => "text-align: left"}
/     left menu
/   .small-8.columns.center
/     title
/     subtitle
/     author of project (rating)
/   .small-2.columns.right.grey{:style => "text-align: right"}
/     right menu
/ /dagre-d3 script
/ %script{src: "http://d3js.org/d3.v3.min.js"}
/ %script{src: "http://cpettitt.github.io/project/dagre-d3/latest/dagre-d3.min.js"}
/ %script{src: "http://cpettitt.github.io/project/graphlib-dot/latest/graphlib-dot.min.js"}
/ %showdata
/   %form
/     %label{for: "inputGraph"} Input Graph Definition (graphviz standards)
/     %textarea#inputGraph{onkeyup: "tryDraw();", rows: "4", style: "display: block"}
/       digraph {
/       A [label="<div style='padding: 10px;'>A <span style='font-size:32px'>Big</span> <span style='color:red;'>HTML</span> Source!</div>"];
/       C;
/       E [label="A sink"];
/       A -&gt; B -&gt; C;
/       B -&gt; D -&gt; E;
/       C -&gt; E;
/       A -&gt; D [label="<div>A multi-rank <span style='color:blue;'>HTML</span> edge!</div>"];
/       }
      
/ %create.center
/   %svg{height: "680", width: "650"}
/     %g{transform: "translate(20,20)"}
#nodes-container
  %button#add-node.button= "Add a node"
  %svg 
    %g{transform: "translate(20,20"}
>>>>>>> 3b096cd02b09f8ecaa1e7d1b04f134ed1fca3ca4
