/ /grid: menu left --title and subtitble and author info-- menu right
/ /main creator space:
/ ///requirements
/ ///mini map
#button-container
  %button#add-node.button= "Add a node"
  %button#load-project.button= "Load a project"
  %button#toggle-direction.button= "Toggle graph orientation"
#nodes-container
  %svg 
    %g{transform: "translate(20,20"}
