#app-container
  #side-container
    %div.doc-header
      %input#doc-title.text-center.side-header{placeholder: 'enter name'}
      %input#search-input.text-center.side-header{placeholder: 'search for nodes'}
      #side-buttons-container
        %button#search-nodes-icon.fa.fa-search.fa-sm{title: 'open node search'}
        %button#doc-view-icon.fa.fa-file.fa-sm.hidden{title: 'open doc view'}
        %button#collapse.fa.fa-minus.fa-sm{title: 'collapse sidebar'}
    #doc.custom-box
    #search-container
  #side-empty
    #empty-flex
      %button#search-nodes-empty.fa.fa-search.fa-sm{title: 'open node search'}
      %button#doc-view-empty.fa.fa-file.fa-sm{title: 'open doc view'}
  #nodes-container{ 'data-path' => project_path(@project) }
    #buttons-container
      #buttons-left
        %button#add-node.node-button.fa.fa-plus.fa-lg{title: 'Add a new Node'}
        %button#toggle-direction.node-button.fa.fa-arrows-h.fa-lg{title: 'toggle orientation'}
        %button#load-project.node-button.fa.fa-refresh.fa-lg{title: 'refresh'}
      #project-title-container
        %h3.project-title Project Title
        %div.project-subtitle Project info + rating
      #buttons-right
        %button#fork-project.node-button.fa.fa-code-fork.fa-lg{title: 'Fork this Project'}
        %button#upvote.node-button.fa.fa-chevron-up.fa-lg{title: 'upvote'}
        %button#share-project.node-button.fa.fa-share.fa-lg{title: 'share project'}
    #svg-container