// Place all the styles related to the creator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
svg {
  border: 1px solid #999;
  overflow: scroll;
  display: block;
}
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.hidden{display: none;}

.active-node{
  background: linear-gradient(to bottom, rgba(254,185,0,1) 25%,rgba(255,197,42,1) 50%,rgba(255,215,110,1) 100%,rgba(255,215,110,1) 100%) !important;
}
.next-node{
  background: linear-gradient(to bottom, rgba(80,185,174,1) 50%,rgba(255,215,110,1) 51%,rgba(0,158,141,1) 92%) !important;
}

#app-container{
  width: 90%;
  height: 30em;
  display: flex;
  justify-content: center;
  margin:auto;
  
  #side-container{
    flex-grow: 1;
    flex-shrink: 1;
    width: 30%;
    height: 100%;
  
    .doc-header{
      display: flex;
      justify-content: space-between;
      
      .side-header{
        font-size: 1.3em;
        font: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0.2em;
        #doc-title{
        
        }
        #search-input{
        
        }
      }
      #side-buttons-container{
        display: flex;
        align-items: center;
      }
      button{
        background-color: black;
        height: 1.1em;
        width: 1.1em;
        margin: 0.05em;
        padding: 0.05em;
      }
    }
    #doc{
      display: block;
      width: 100%;
      height: 100%;
      
      .custom-box{
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
      }
    }
    #search-container{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  #side-empty{
    display: none;
    
    #empty-flex{
      display: flex;
      flex-direction: column;
      
      button{
        background-color: black;
        height: 1.1em;
        width: 1.1em;
        margin: 0.05em;
        padding: 0.05em;
      }
    }
  }
  #nodes-container{
    flex-grow: 3;
    flex-shrink: 3;
    height: 100%;
    #buttons-container{
      display: flex;
      justify-content: space-between;
      .node-button{
        margin: auto;
      }
      #buttons-left{
        align-self: flex-end;
      }
      #buttons-right{
        align-self: flex-end;
      }
    }
    
    .project-title{
      font-size: 1.2em;
      text-align: center;
      padding: 0;
      margin:0;
    }
    .project-subtitle{
      font-size: 0.8em;
      width: 100%;
      text-align: center;
      padding: 0.3em, 0, 0.3em;
    }
      
    #svg-container{
      background-color:#C5C8E2;
      svg { width: 100%; } /* Needed for Firefox */
    
      .edgePath path {
        stroke: #333;
        stroke-width: 1px;
        fill: none;
      }
      .node rect {
        stroke: #333;
        stroke-width: 1px;
        fill: #C5C8E2;
      }
      .node-outer{
        width:auto;
        background: linear-gradient(to bottom, rgba(211,193,225,1) 50%,rgba(149,91,194,1) 88%,rgba(100,7,171,1) 100%);
        display: flex;
        align-items: center;
        white-space: nowrap;
        border:1 px white;
        border-radius: 5px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0.1em;
      
        .node-icon{
          height:1.3em;
        }
        .node-title-area{
          text-align: center;
          margin: 0.1em;
        
          .node-title{
            font-size: 1em;
            max-width: 10em;
          }
          .node-subtitle{
            font-size: 0.7em;
          }
        }
        .node-menu{
          height:2em;
          margin:.5em;
          cursor: crosshair;
        }
      }
      .custom-context-menu{
        $menu-color: lightblue;
        
        list-style-type: none;
        margin-left: 0 !important;
        .custom-context-menu:hover{
          background-color:darken($menu-color, 10%);
        }
        .context-menu-item{
          border: 1px solid;
          $base-color: lightblue;
          background-color: $menu-color;
        }
      }
    }
  }
}