// Place all the styles related to the creator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*= require_tree ./projects
*/
@import 'variables';

.sc{
  display: flex;
  width: 100%;
  height: 5em;
  background: white;
  flex-direction: column;
  margin-bottom: 2px;
  .stc{
    display: flex;
    justify-content: space-between;
    height: 25%;
    .st{
      text-align: center;
      color: #e8e4e0;
      font-family: Futura, "Trebuchet MS", ariel, sans-serif;
      font-style: bold; 
      font-weight: 2em;
      background: $pdd;
      width: 100%;
    }
    .sbc{
      display: flex;
      justify-content: space-between;
      background: $s2dd;
      width:40%;
      height: 100%;
      .sbb{
        display: block;
        margin: auto;
        height: 100%;
        width: 2em;
        color: white;
        padding: 2px;
      }
    }
  }
  .slc{
    display: flex;
    height: 75%;
    .spic{
      display: block;
      max-width: 4em;
      max-height: 100%;
      width: auto;
      height: auto;
    }
    .sdoc{
      width: 65%
    }
  }
}

svg {
  border: 1px solid #999;
  overflow: scroll;
  display: block;
  width: 100%;
}
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.active-node{
  background: $p !important;
}
.next-node{
  background: $c !important;
}

.froala-element{
  background: white;
}

#app-container{
  width: 90%;
  height: 30em;
  display: flex;
  justify-content: center;
  margin:auto;
  
  #side-container{
    flex-grow: 1;
    flex-shrink: 1;
    width: 30%;
    height: 100%;
  
    .doc-header{
      display: flex;
      justify-content: space-between;
      
      .side-header{
        font-size: 1.3em;
        font: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0.2em;
        #doc-title{
        
        }
        #search-input{
        
        }
      }
      #side-buttons-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
      }
      button{
        height: 1.1em;
        width: 1.1em;
        margin: 0.2em;
        padding: 0.05em;
      }
    }
    #doc{
      display: block;
      width: 100%;
      height: 100%;
      
      .custom-box{
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
      }
    }
    #search-container{
      display: block;
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }
  #side-empty{
    display: none;
    
    #empty-flex{
      display: flex;
      flex-direction: column;
      
      button{
        height: 1.1em;
        width: 1.1em;
        margin: 0.05em;
        padding: 0.05em;
      }
    }
  }
  .drag-bar{
    display: block;
    width: 3px;
    background: grey;
    height: 100%;
    cursor: col-resize;
  }
  #nodes-container{
    flex-grow: 3;
    flex-shrink: 3;
    height: 100%;
    #buttons-container{
      display: flex;
      justify-content: space-between;
      .node-button{
        margin: auto;
      }
      #buttons-left{
        align-self: flex-end;
      }
      #buttons-right{
        align-self: flex-end;
      }
    }
    
    .project-title{
      font-size: 1.2em;
      text-align: center;
      padding: 0;
      margin:0;
    }
    .project-subtitle{
      font-size: 0.8em;
      width: 100%;
      text-align: center;
      padding: 0.3em, 0, 0.3em;
    }
    
    #svg-container{
      background-color: $sll;
      .dragline{
        stroke: black;
        stroke-width: 2;
      }
      .edgePath path {
        stroke: #333;
        stroke-width: 1px;
        fill: none;
      }
      .node rect {
        stroke: #333;
        stroke-width: 1px;
      }
      .node-outer{
        width: auto;
        background: $s2;
        display: flex;
        align-items: center;
        white-space: nowrap;
        border:1 px white;
        border-radius: 5px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0.1em;
      
        .node-icon{
          height:1.3em;
        }
        .node-title-area{
          text-align: center;
          margin: 0.1em;
        
          .node-title{
            font-size: 1em;
            max-width: 10em;
          }
          .node-subtitle{
            font-size: 0.7em;
          }
        }
        .node-menu{
          height:2em;
          margin:.5em;
          cursor: crosshair;
        }
      }
      .custom-context-menu{
        $menu-color: $s2l;
        
        list-style-type: none;
        margin-left: 0 !important;
        .custom-context-menu:hover{
          background-color: darken($menu-color, 10%);
        }
        .context-menu-item{
          border: 1px solid;
          $base-color: lightblue;
          background-color: $menu-color;
        }
      }
    }
  }
}