$p:#D34B47;
$pl:#F57773;
$pll:#FFA5A3;
$pd:#B52A26;
$pdd:#8F100D;
$s:#D39547;
$sl:#F5BC73;
$sll:#FFD6A3;
$sd:#B57626;
$sdd:#8F550D;
$s2:#336687;
$s2l:#4F7E9C;
$s2ll:#7EA5BF;
$s2d:#1E5274;
$s2dd:#0D3D5C;
$c:#38A63F;
$cl:#5BC161;
$cll:#8BD990;
$cd:#1E8E26;
$cdd:#0A7111;
