%li
  \--
  = link_to project.name, project_path(project)
  \--
  = link_to 'Edit', edit_project_path(project)
  \-
  = link_to 'Clone', clone_project_path(project)
  \-
  = link_to 'json', project_path(project, format: :json)