%li
  \--
  = link_to project.name, project_path(project)
  \--
  = link_to 'Edit', edit_project_path(project)
  \-
  = link_to 'Clone', clone_project_path(project)
  \-
  = link_to 'Remove', project_path(project), method: :delete